In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("preds4222_newtest3.csv")

In [41]:
restdf = pd.read_csv("reg_scraped_output.csv")
restdf.columns = ["Review", "Date", "Stars", "place"]

restdf = restdf[["place", "Stars"]]
restdf#.dtypes
restdf["Stars"] = restdf["Stars"].apply(lambda x:int(x[1]))
restdf = restdf.groupby('place').mean()

In [44]:
# Join Stars

df = df.merge(restdf, on="place", how='left')

In [45]:
df.groupby(["place", "category"]).mean()#.reset_index()

                           pred  clause_polarity     Stars
place category
Adda  Non-Categorised  0.308022         0.328889  4.383333
      ambience         0.270236         0.302517  4.383333
      food             0.232699         0.373625  4.383333
      price            0.162970         0.144529  4.383333
      service          0.141635         0.121053  4.383333
...                         ...              ...       ...
roots Non-Categorised -0.074437        -0.133333  4.362500
      ambience         0.359726         0.370713  4.362500
      food             0.319861         0.316843  4.362500
      price            0.170871         0.171904  4.362500
      service          0.288576         0.275694  4.362500

[149 rows x 3 columns]

In [66]:
reg = pd.pivot_table(df, index=["place", "Stars"], columns=["category"], values = ["pred"]).reset_index()

reg.columns = reg.columns.droplevel(0)
reg.columns = ["place", "Stars", 'Non-Categorised', 'ambience', 'food', 'price', 'service']

In [82]:
import statsmodels.formula.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [76]:
col = reg.columns
col = [i for i in col if i not in ["Stars", "place", "Non-Categorised"]]
xtrain = reg[col]
xtrain.head(3)

   ambience      food     price   service
0  0.270236  0.232699  0.162970  0.141635
1  0.300673  0.329756  0.358247  0.587589
2  0.237009  0.242740  0.125776  0.228787

In [77]:
ytrain = reg["Stars"]

In [86]:
form = "Stars  ~ "
for i in col:s
  form = form + i + " + "
form = form[0:-3]

In [89]:
result = sm.ols(formula=form, data=reg).fit()
print(result.params)

Intercept    4.250000
ambience     0.273706
food         0.060940
price       -0.471064
service      0.489613
dtype: float64

In [90]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Stars   R-squared:                       0.119
Model:                            OLS   Adj. R-squared:                 -0.021
Method:                 Least Squares   F-statistic:                    0.8480
Date:                Thu, 18 Nov 2021   Prob (F-statistic):              0.508
Time:                        13:45:30   Log-Likelihood:                 2.0374
No. Observations:                  30   AIC:                             5.925
Df Residuals:                      25   BIC:                             12.93
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      4.2500      0.277     15.317      0.000       3.679       4.821
ambience       0.2737      0.392      0.697      0.492      -0.535       1.082
food           0.0609      1.078      0.057      0.955      -2.160       2.282
price         -0.4711      1.005     -0.469      0.643      -2.542       1.600
service        0.4896      0.339      1.446      0.161      -0.208       1.187
==============================================================================
Omnibus:                        2.021   Durbin-Watson:                   1.762
Prob(Omnibus):                  0.364   Jarque-Bera (JB):                1.555
Skew:                          -0.552   Prob(JB):                        0.460
Kurtosis:                       2.842   Cond. No.                         30.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.